doctype html
html
	head
		title Bottle
		link( rel="stylesheet", href="/static/style.css" )
	body
		div#index.container
			h1 Hello #{ user ? user : "guest" + "!" }
			p Welcome on this rainy as f*ck #{ today ? today : "day."}
			
			form( id="loginform", action="/profile", method="post" )
				input( type="text", name="username", placeholder="username" )
				input( type="password", name="password", placeholder="password" )
				input( type="submit" )
			script( src="/static/jquery.js" )
			script( src="/static/custom.js" )